body {
  background-image: url('../foto/cv.jpeg');
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
#studie-title{
  color : black;
  font-size: 60px ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 25%;
  text-align: center;
}
html,body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  height: auto;

 
}
.container {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  width: 1000px;
  height: 500px;
   border-collapse: collapse;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
  margin:0px;
  font-family:'Roboto';
  text-align:right;
  margin-right: 30px;
}
#container {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 45%;
  display: block;
  text-align: left;
  top:40px;
}
#omdraaien {
  height:50px;
  overflow:hidden;
}
#omdraaien > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}
#omdraaien div:first-child {
  animation: show 5s linear infinite;
}
#omdraaien div div {
  background:#42c58a;
}
#omdraaien div:first-child div {
  background:#4ec7f3;
}
#omdraaien div:last-child div {
  background:#DC143C;
}
@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
p {
  position:fixed;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}